body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li a {
    font-size: x-large;
}

table {
    margin-top: 50px;
    font-size: large;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

.content {
    min-height: 100%;
    margin-bottom: -100px;
}

footer {
    height: 50px;
}

thead tr {
    border: 1px solid;
    border-color: transparent;
    border-top-color: lightgray;
}

tbody tr {
    background-color: #EEEEEE;
    border: 1px solid;
    border-color: transparent;
    border-top-color: lightgray;
}

.scrollable {
    height: 200px;
    overflow: auto;
}