@{
	ViewBag.Title = "Error";
}

	<div class="content">
		<h1>Error</h1>
		<h1>Problem</h1>
		<h3 style="margin-left:50px">@ViewBag.Problem</h3>
		<h1>Solution</h1>
		<h3 style="margin-left:50px">@ViewBag.Solution</h3>
	</div>